body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

blockquote {
    margin: 30px 5px;
    padding: 0px 0px;
	  border-left: none;
}

blockquote:before {
    color: #ccc;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote h1,
h2,
h3,
p {
    display: inline;
}

.container {
    max-height: 800px;
    margin: 5% auto 5% auto;
}

.cardbox {
    background: #fff;
    max-width: 500px;
    min-height: 100px;
    margin: 10px;
    text-align: center;
    border: 10px solid transparent;
    border-radius: 15px;
    transition: border-color;
}

.cardbutton {
    display: inline-block;
    padding: 6px 12px;
}

.btn {
    margin-bottom: 10px;
}

.btn-primary {
    width: 220px;
    height: 60px;
    border: none;
    background: #490A3D;
    border-radius: 10px;
}

#newcard {
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    #cardtext {
        font-size: 20px;
    }
    
    .container {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 320px) {
    #cardtext {
        font-size: 13px;
    }
}
